$mainFontSize: 16px;

$standartFF: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$greenBlue: #0094a5;
$whiteText: #e7e7e7;
$white: #fff;

$bodyBg: #2e2e2e;

$cellBg: #313131;
$cellBgHover: #141414;
$cellBorder: #010000;
$cellColoredBg: #6b0702;
$cellQuizBg: #313131;
$cellActiveBg: #ccc;
$cellBorderBoard: 2px solid $cellBorder;

$errorTextColor: crimson;
$successTextColor: $greenBlue;

$boardShadow: #0100006b;

$menuBtnBg: linear-gradient(-45deg, #0094a5, rgb(53, 113, 190));

// Light Theme
$lt-bodyBg: #fefefe;

$darkText: #1B1B1E;

$lt-cellBg: #ffffff;
$lt-cellBgHover: #a4b0be;
$lt-cellBorder: #576574;
$lt-cellQuizBg: #ffffff;
$lt-cellActiveBg: #3742fa;
$lt-cellColoredBg: #2f3542;

$lt-menuBg: #ffffff;
