.cell {
  @include size(rem(60));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $cellBg;
  cursor: pointer;
  border-bottom: 1px solid $cellBorder;
  border-right: 1px solid $cellBorder;
  font-size: rem(26);
  font-family: lt;
  text-align: center;
  color: $whiteText;

  @media screen and (max-width: 991px){
    @include size(9vw);
  }

  @media screen and (max-width: 768px){
    @include size(11vw);
  }

  &:hover {
    background-color: $cellBgHover;
  }

  &.vertical {
    border-right: $cellBorderBoard;
  }
  
  &.horizontal {
    border-bottom: $cellBorderBoard;
  }

  &.top-board-border {
    border-top: $cellBorderBoard;
  }

  &.bottom-board-border {
    border-bottom: $cellBorderBoard;
  }

  &.left-board-border {
    border-left: $cellBorderBoard;
  }
  
  &.right-board-border {
    border-right: $cellBorderBoard;
  }
  
  &.colored {
    background-color: $cellColoredBg;
    color: $whiteText;
  }

  &.quiz {
    background-color: $cellQuizBg;

    &.active {
      background-color: $cellActiveBg;
      color: $cellBgHover;
    }
  }

  &.guessed {
    pointer-events: none;
    background-color: $whiteText;
    color: $cellBgHover;
  }
}
