.lives {
  position: absolute;
  right: 6vw;
  top: 3vw;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 600px){
    right: 2vw;
    top: 7vw;
  }

  @media screen and (max-width: 600px){
    top: 4vw;
  }
}

.live {
  @include size(rem(30));
  margin-left: rem(5);
  background-image: url(/assets/img/heart.svg);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 425px){
    @include size(rem(25));
  }
}