.menu {
  @include size(100%, 100vh);
  // display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all ease-in-out 0.5s; 

  &.show {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
  
  &__content {
    @include size(90%, auto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(100);
    text-transform: uppercase;
    font-family: $standartFF;
  }
  
  &__title {
    color: $whiteText; 
    font-size: rem(20);
    letter-spacing: 0.8px;
  }
  
  &__level-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include size(40%, auto);
  }
  
  &__btn {
    @include size(100%, rem(60));
    margin-top: rem(42);
    border: 0;
    border-radius: rem(4);
    background: $menuBtnBg;
    font-family: $standartFF;
    font-size: rem(16);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    outline: 0;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    
    &:hover {
      box-shadow: inset 0px 60px 22px #0cb4c7;
    }
    
    &:active {
      box-shadow: inset 0px 60px 22px #00d2e9;
    }
  }
}