.menu {
  @include size(100%, 100vh);
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  transition: all ease-in-out 0.5s; 
  transform: translate3d(0,-100%,0);
  
  &.show {
    display: flex;
    opacity: 1;
    transform: translate3d(0,0,0);
    background-color: #010101;
  }
  
  &__content {
    @include size(100%, 60vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(100);
    text-transform: uppercase;
    font-family: $standartFF;
  }
  
  &__title {
    color: $whiteText; 
    font-size: rem(20);
    letter-spacing: 0.8px;
  }
  
  &__level-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include size(40%, auto);
  }

  &__level-description {
    color: $whiteText;
    display: flex;
    margin-top: rem(15);
  }
  
  &__btn {
    @include size(100%, rem(60));
    margin-top: rem(42);
    border: 0;
    border-radius: rem(4);
    background: $menuBtnBg;
    font-family: $standartFF;
    font-size: rem(16);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    outline: 0;
    color: $whiteText;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    
    &:hover {
      box-shadow: inset 0px 60px 22px #0cb4c7;
    }
    
    &:active {
      box-shadow: inset 0px 60px 22px #00d2e9;
    }
  }

  &__toggle {
    position: absolute;
    background-color: transparent;
    border: 0;
    @include size(rem(40));
    top: 3vw;
    left: 6vw;
    outline: 0;
    z-index: 9999999;
    display: none;
    
    @media screen and (max-width: 600px){
      left: 2vw;
      top: 4vw;
    }

    @media screen and (max-width: 425px){
      @include size(rem(30));
    }

    &.show {
      display: block;
    }

    span {
      position: absolute;
      display: block;
      @include size(100%, rem(4));
      margin-bottom: rem(20);
      background-color: $whiteText;
      transition: all ease-in-out 0.3s;

      @media screen and (max-width: 425px){
        height: rem(2);
      }

      &:nth-child(1) {
        top: 0%;
      }

      &:nth-child(2) {
        top: 30%;
      }

      &:nth-child(3) {
        top: 60%;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          transform: rotate(-45deg);
        }
        
        &:nth-child(2) {
          width: 0px;
        }
        
        &:nth-child(3) {
          transform: translateY(-25px) rotate(225deg);
          
          @media screen and (max-width: 425px){
            transform: translateY(-13px) rotate(225deg);
          }
        }
      }
    }
  }

  &__warn {
    margin-top: rem(18);
    color: $whiteText;
  }
}