.message {
  max-width: rem(540);
  min-height: rem(60);
  padding: rem(10) rem(15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto rem(30) auto;
  background-color: $errorBgColor;
  border-radius: rem(4);
  visibility: hidden;
  text-align: center;
  font-family: $standartFF;
  font-size: rem(16);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: $errorTextColor;

  &.show {
    visibility: visible;
  }

  &.success {
    background-color: lightseagreen;
    color: $whiteText;
  }

  &.error {
    background-color: $errorTextColor;
    color: $whiteText;
  }

  @media screen and (max-width: 425px){
    font-size: rem(12);
  }
}