.message {
  max-width: rem(540);
  min-height: rem(60);
  padding: rem(10) rem(15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto rem(15) auto;
  border-radius: rem(4);
  visibility: hidden;
  text-align: center;
  font-family: $standartFF;
  font-size: rem(16);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  opacity: 0;
  transition: all ease-in-out 0.3s;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  &.success {
    color: $successTextColor;
  }

  &.error {
    color: $errorTextColor;
  }

  @media screen and (max-width: 425px){
    font-size: rem(12);
  }
}