.numbers {
  display: flex;
  justify-content: center;
  max-width: rem(600);
  margin: rem(80) auto;
}

.numbers__content {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.number {
  @include size(rem(55));
  border: 0;
  font-family: lt;
  cursor: pointer;
  color: $whiteText;
  font-size: rem(33);

  @media screen and (max-width: 768px){
    @include size(9vw);
  }

}