.switches {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: rem(30);
  margin: 0 auto;
  border: 1px solid $darkText;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  z-index: 1;

  &:hover {
    .dark, .light {
      transform: rotateZ(-120deg);
      transition-duration: 0.5s;
    }
  }
  
  .dark {
    z-index: 2;
    path {
      fill: #c7c7c7;
    }
  }
  
  .light {
    z-index: 2;
    margin-left: rem(4);
    
    path {
      fill: #c7c7c7;
    }
  }
}

.circle {
  z-index: 3;
  position: absolute;
  height: 105%;
  width: rem(30);
  border-radius: 50%;
  background-color: $darkText;

  &--dark {
    left: -5%;
  }

  &--light {
    right: -5%;
  }

}
