extends ../layout/main

block variables
  - var title = 'Sudoku Game Online'
  - var description = 'Play sudoku online in your browser on any device'

block content
  include ../includes/blocks/menu.pug
  button.menu__toggle
    span
    span
    span
  .board
  include ../includes/blocks/errors.pug
  include ../includes/blocks/numbersBlock.pug