extends ../layout/main

block variables
  - var title = 'Sudoku Game Online'
  - var description = 'Play sudoku online in your browser on any device'
  - var pageClass = ''

block content
  include ../includes/blocks/switcher.pug
  include ../includes/blocks/menu.pug
  include ../includes/blocks/lives.pug
  button.menu__toggle
    span
    span
    span
  .board
  include ../includes/blocks/message.pug
  include ../includes/blocks/controls.pug
  include ../includes/blocks/numbersBlock.pug