extends ../layout/main

block variables
  - var title = 'Sudoku Game Online'
  - var description = 'Play sudoku online in your browser on any device'

block content
  include ../includes/blocks/menu.pug
  .board