body.light {
  background-color: $lt-bodyBg;

  .page-title {
    color: $darkText;
  }

  .board {
    box-shadow: none;
  }

  .menu {
    background-color: $lt-menuBg;
    color: $whiteText;
    
    &__toggle {
      span {
        background-color: $darkText;
      }
    }
  }

  .switches {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dark, .light {
    path {
      fill: $darkText;
    }
  }
  
  .cell {
    color: $darkText;
    background-color: $lt-cellBg;

    &:hover {
      background-color: $lt-cellBgHover;
    }

    &.colored {
      background-color: $lt-cellColoredBg;
      color: $whiteText;
    }

    &.quiz {
      background-color: $lt-cellQuizBg;
  
      &.active {
        background-color: $lt-cellActiveBg;
      }
    }

  }

  .number {
    color: $darkText;
  }
}