@import 'utils/vars';
@import 'utils/mixins';

@include font-face(Nordic, Nordic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  &::after, &::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: Nordic;
  background-color: #ccc;
  padding-top: rem(100);
}

.row {
  margin: 0 auto;
  max-width: fit-content;
  text-align: center;
}

.cell {
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #414141;
  color: salmon;
  background-color: #fefefe;
  @include size(rem(60));
  padding: rem(20);
  display: inline-block;
}