@import 'utils/vars';
@import 'utils/mixins';

@include font-face(Nordic, Nordic);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  &::after, &::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: Nordic;
  background-color: $bodyBg;
  padding-top: rem(10);
  position: relative;
}

h1 {
  font-size: rem(36);
  color: $whiteText;
  text-align: center;
  margin: rem(5) 0 rem(20) 0;
}

.board {
  box-shadow: rem(0) rem(20) rem(20) rem(13) $boardShadow;
  width: fit-content;
  margin: 7vw auto rem(30) auto;
}

.row {
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  text-align: center;
}

@import './blocks/errors';
@import './blocks/menu';
@import './blocks/lives';
@import './blocks/cell';
@import './blocks/numbers';