.menu
  .menu__content
    h4.menu__title Выберите уровень сложности
    span.menu__warn (текущая доска очистится)
    .menu__level-list
      button.menu__btn(value="45" data-lives="4") Легкий
      .menu__level-description 4 доп. жизни
      button.menu__btn(value="55" data-lives="3") Нормальный
      .menu__level-description 3 доп. жизни
      button.menu__btn(value="65" data-lives="2") Тяжелый
      .menu__level-description 2 доп. жизни
      button.menu__btn(value="70" data-lives="5") Невозможный
      .menu__level-description 5 доп. жизней