.menu
  .menu__content
    h4.menu__title Выберите уровень сложности
    .menu__level-list
      button.menu__btn(value="37") Легкий
      button.menu__btn(value="50") Нормальный
      button.menu__btn(value="65") Тяжелый
      button.menu__btn(value="72") Невозможный
    .menu__close