.menu
  .menu__content
    h4.menu__title Выберите уровень сложности
    span.menu__warn (текущая доска очистится)
    .menu__level-list
      button.menu__btn(value="37" data-lives="5") Легкий
      .menu__level-description 5 жизней
      button.menu__btn(value="50" data-lives="4") Нормальный
      .menu__level-description 4 жизни
      button.menu__btn(value="65" data-lives="3") Тяжелый
      .menu__level-description 3 жизни
      button.menu__btn(value="72" data-lives="1") Невозможный
      .menu__level-description 1 жизнь