.numbers
  .numbers__content.row
    .number.cell 1
    .number.cell 2
    .number.cell 3
    .number.cell 4
    .number.cell 5
    .number.cell 6
    .number.cell 7
    .number.cell 8
    .number.cell 9